 .delete-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    backdrop-filter:blur(5px);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1000;

}

.delete-modal{

    width:420px;

    background:white;

    border-radius:18px;

    padding:30px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.18);

}



.delete-modal h2{

    margin-bottom:12px;

}

.delete-modal p{

    color:#64748B;

    margin-bottom:25px;

}

.delete-buttons{

    display:flex;

    gap:15px;

}

.delete-buttons button{

    flex:1;

    padding:13px;

    border:none;

    border-radius:12px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

}

.cancel-delete-btn{

    background:#E5E7EB;

}

.confirm-delete-btn{

    background:#DC2626;

    color:white;

}

.confirm-delete-btn:hover{

    background:#B91C1C;

}
.delete-icon{

    width:80px;

    height:80px;

    margin:0 auto 20px;

    border-radius:50%;

    background:#FEE2E2;

    color:#DC2626;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

}